*

!.gitignore
!.nojekyll

!404.html
!index.html
!robots.txt
!sitemap.xml

!convert/
!convert/**
!css/
!css/**
!decode/
!decode/**
!fetch-init/
!fetch-init/**
!generate/
!generate/**
!get-license/
!get-license/**
!img/
!img/**
!js/
!js/**
!pkg/
!pkg/**
!pyodide/
!pyodide/**
